.sliderTrack{
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transition: 400ms;
}

.slider{
    position: relative;
    height: 80vh;
    overflow: hidden;
}

.slide{
    position: relative;
}

.slide h1{
    position: absolute;
    max-width: fit-content;
    max-height: fit-content;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 3rem;
}

.slide p{
    font-size: 1rem;
    line-height: 0;
    margin: 0;
}

.dots{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 10;
}

.dots span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 6px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

span.active{
    background-color: white;
}

.imgLinks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.imgLinks a{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    aspect-ratio: 1/1;
}

.imgLinks img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cornerInfo{
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0.5ch;
}

.cornerInfo button{
    background-color: white;
    height: fit-content;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    padding: 1ch;
    cursor: pointer;
    transition: 200ms;
}

.cornerInfo button:hover{
    background-color: white;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    padding: 1ch;
    cursor: pointer;
    background-color: rgb(228, 228, 228);
}

.cornerInfo h1, .cornerInfo p {
    color: white;
    margin-top: 1ch;
    margin-bottom: 1ch;
}

.sideScroll{
    max-width: 100%;
    overflow-x: scroll;
}

.sideScrollSlider{
    
    display: flex;
    gap: 20px;
    width: fit-content;
}

.sideScroll a{
    height: 350px;
    width: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    aspect-ratio: 3/2;
}

.sideScroll img{
    width: 100%;
}

.gradient{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.568), transparent);
    transition: 200ms;
}

a:hover .gradient{
    transform: translateY(20%);
}

.promo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
}

.promo .cornerInfo{
    top: 50%;
    bottom: unset;
    transform: translateY(-50%);
}

.promo img{
    width: 100%;
}