.inputLabel{
    font-weight: 100;
    font-size: 12px;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
}

.registerDetail input{
    border: 1px solid;
    border-radius: 2ch;
    padding: 0.7ch;
    display: block;
}

.registerDetail input{
    outline: none;
}

.registerDetail{
    display: flex;
    align-items: center;
    justify-content: left;
}

.smallInput{
    max-width: 8ch;
}

.phoneNumber{
    border: 1px solid;
    border-radius: 2ch;
    padding: 0.7ch;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 2ch;
    width: fit-content;
    position: relative;
}

.phoneNumber input{
    border: none;
    border-radius: 0;
    padding: none;
}

.countrySelector{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5ch;
    border-right: 1px solid;
    padding-right: 1ch;
    cursor: pointer;
    
}

.countrySelector img, .country img{
    width: 2ch;
}

.countryDropdown{
    display: none;
    background-color: white;
    z-index: 2;
    overflow-y: scroll;
    max-height: 15ch;
}

.countryDropdownInput:checked ~ .countryDropdown{
    display: block;
    position: absolute;
    /* bottom: 0;*/
    top: 100%;
}

.arrow{
    transition: 200ms;
}


.countryDropdownInput:checked ~ .countrySelector .arrow{
    transform: rotateZ(180deg);
}

.country {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: white;
    gap: 0.5ch;
    border-bottom: 1px solid;
    padding-left: 1ch;
    padding-right: 1ch;
    padding-top: 0.3ch;
    padding-bottom: 0.3ch;
    cursor: pointer;
}

.country:hover{
    background-color: #dddddd;
}   

.password{
    border: 1px solid;
    border-radius: 2ch;
    padding: 0.7ch;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 2ch;
    width: fit-content;
    position: relative;
    overflow: hidden;
}

.password img{
    height: 2ch;
    cursor: pointer;
}

.password input{
    border: none;
    border-radius: 0;
    padding: none;
}

.sumbitRegisterBtn{
    background-color: rgb(25, 25, 27);
    padding: 1ch;
    width: calc(100% - 3ch);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5ch;
    cursor: pointer;
    transition: 200ms;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2ch;
    max-width: 10ch;
}

.sumbitRegisterBtn:hover{
    filter: invert();
    box-shadow: 5px 5px 15px rgba(214, 214, 214, 0.295);
}