.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3ch;
    color: black;
}

/* xs */
@media (min-width: 320px) {
    .container {
        max-width: 320px;
    }
}
    
/* sm */
@media (min-width: 375px) {
    .container {
        max-width: 375px;
    }
}
    
/* md */
@media (min-width: 425px) {
    .container {
        max-width: 425px;
    }
}
    
/* lg */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
    
/* xl */
@media (min-width: 1024px) {
    .container {
        max-width: 1280px;
    }
}
    
/* 2xl */
@media (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

.login-popup{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: fit-content;
    height: fit-content;
    z-index: 10;
    transform: translate(-50%, -50%);
    padding: 3ch;
}

.register {
    display: none;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 1ch;
  margin-bottom: 1ch;
  color: #666;       /*    text color */
}

.login-popup .line{
    height: 0;
    width: 20ch;
    border-bottom: 1px solid #666;
    margin-left: 0.5ch;
    margin-right: 0.5ch;
}

.login-popup .register-btn, .login-popup .login-btn, .sumbit-register-btn{
    background-color: rgb(25, 25, 27);
    padding: 1ch;
    width: calc(100% - 3ch);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5ch;
    cursor: pointer;
    transition: 200ms;
}

.login-popup .register-btn:hover,  .login-popup .login-btn:hover, .sumbit-register-btn:hover{
    filter: invert();
    box-shadow: 5px 5px 15px rgba(214, 214, 214, 0.295);
}

.login-popup .register-btn p, .login-popup  .login-btn p, .sumbit-register-btn p{
    color: white;
}

.login-popup .register-btn div,.login-popup  .login-btn div, .sumbit-register-btn div{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.sumbit-register-btn {
    margin-top: 1ch;
}

.register input{
    border: 1px solid;
    border-radius: 2ch;
    padding: 0.7ch;
    display: block;
}

.register input:focus{
    outline: none;
}

.name, .place, .house {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5ch;
}

.input-details {
    font-weight: 100;
    font-size: 12px;
    color: #666;
}

.zip-code, .house-number{
    max-width: 8ch;
}

.phone-number{
    border: 1px solid;
    border-radius: 2ch;
    padding: 0.7ch;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 2ch;
    width: fit-content;
    position: relative;
}

.phone-number input{
    border: none;
    border-radius: 0;
    padding: none;
}

.country-selector{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5ch;
    border-right: 1px solid;
    padding-right: 1ch;
    cursor: pointer;
    
}

.country-selector img, .country img{
    height: 1ch;
}

.country-selector p{
    font-size: 14px;
}

.country-dropdown-input{
    display: none;
}

.country-dropdown{
    display: none;
    background-color: white;

}

.country-dropdown-input:checked ~ .country-dropdown{
    display: block;
    position: absolute; 
    bottom: 0;
}

.country-dropdown-input:checked ~ .country-dropdown{
    display: block;
    position: absolute; 
    top: 100%;
}

.arrow{
    transition: 200ms;
}

.country-dropdown-input:checked ~ .arrow{
    transform: rotate(180deg);
}

.country-dropdown{
    height: 15ch;
    overflow-y: scroll;
    border: 1px solid;
    border-bottom: none;
    z-index: 2;
}

.country {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: white;
    gap: 0.5ch;
    border-bottom: 1px solid;
    padding-left: 1ch;
    padding-right: 1ch;
    padding-top: 0.3ch;
    padding-bottom: 0.3ch;
    cursor: pointer;
}
.country:hover{
    background-color: #dddddd;
}

.password, .repeat-password{
    border: 1px solid;
    border-radius: 2ch;
    padding: 0.7ch;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 2ch;
    width: fit-content;
    position: relative;
}

.password img, .repeat-password img{
    height: 2ch;
    cursor: pointer;
}

.password input, .repeat-password input{
    border: none;
    border-radius: 0;
    padding: none;
}
  