h1 {
    text-align: left;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 17%;
    aspect-ratio: 1/1;
}

img{
    width: 100%;
}

.cart-list a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;

}

.item p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
}

.item{
    border: 1px rgba(128, 128, 128, 0.342) solid;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 10px;
}

.remove-btn{
    text-align: right;
    cursor: pointer;
    width: fit-content;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.remove-btn:hover{
    text-decoration: underline;
}

.reciept{
    border-radius: 15px;
    padding: 15px;
    background-color: rgba(197, 197, 197, 0.342);
    height: fit-content;
}

.reciept.sticky{
    position: sticky;
    top: 1ch;
}

.reciept div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reciept p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.75ch;
    margin-bottom: 0.75ch;
}

.subtotal{
    border-top: 1px rgba(128, 128, 128, 0.342) solid;
}

.subtotal p{
    font-size: 1.3rem;
}

.checkout-btn{
    color: white;
    text-decoration: none;
    background-color: rgb(25, 25, 27);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    padding: 1ch;
    width: calc(100% - 1ch - 15px);
    border-radius: 50px;
    cursor: pointer;
    transition: 200ms;
}

.checkout-btn:hover{
    filter: invert();
    box-shadow: 5px 5px 15px rgba(214, 214, 214, 0.295);
}

.checkout-btn p{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}